@model IEnumerable<QL_DoAnThucTap.Models.EF.Topic>
@if (Model != null && Model.Any())
{
    <div class="wow fadeInUp" data-wow-delay="0.1s">
        <p class="section-title text-secondary justify-content-center"><span></span>Our Projects<span></span></p>
        <h1 class="text-center mb-5">Recently Completed Projects</h1>
    </div>

    @if (Model != null && Model.Any())
    {
        <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-12 text-center">
                <ul class="list-inline mb-5" id="portfolio-flters">
                    <li class="mx-2 active" data-filter="*">Tất cả</li> 
                    @foreach (var item in Model)
                    {
                        <li class="mx-2" data-filter=".@item.Id">@item.Name</li>
                    }
                </ul>
            </div>
        </div>
    }
    <div class="row g-4 portfolio-container">
        @Html.Partial("Partial_ItemByCateID")
    </div>
}