<nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
    <a href="" class="navbar-brand p-0 d-flex align-items-center">
        <img src="/Content/user/lib/img/HUNRE_Logo.png" alt="Logo" style="height: 50px;padding-right: 12px;">
        <h1 class="m-0 ml-2">Quản Lý Đồ Án</h1>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto py-0">
            <a href="/User" class="nav-item nav-link">Trang chủ</a>
            <a href="#" class="nav-item nav-link">Giới thiệu</a>
            <a href="#" class="nav-item nav-link">Đời sống sinh viên</a>
            <a href="/User/Project" class="nav-item nav-link">Đồ án</a>
            <a href="/Contact" class="nav-item nav-link">Liên hệ</a>
        </div>
        <div class="navbar-nav mx-auto py-0">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link" data-bs-toggle="dropdown">Hệ thống</a>
                <div class="dropdown-menu m-0">
                    @if (User.IsInRole("001") || User.IsInRole("002"))
                    {
                        <a href="/Admin" class="dropdown-item">Trang quản trị</a>
                    }
                    <a href="/User/Account" class="dropdown-item">Cài đặt</a>
                    <form id="logoutForm" method="post" action="/Access/LogOut" style="display: none;">
                        @Html.AntiForgeryToken()
                    </form>
                    <a href="#" class="dropdown-item" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">Log out</a>
                </div>
            </div>
        </div>
    </div>
</nav>

